body{
    font-size: 16px;
    max-width: 1024px;
    margin: 0px auto;
}
header{
   border: solid red 1px;
   background: #235e92; 
}
#logo1{
    width: 20%;
    margin-left: 415px;
}
header nav ul li {
    display: inline-block;
    margin-left:-20px;
}
header nav ul{
    text-align: right;
}
header ul li  {
    margin-left: -10px;
}
header nav{
  background: #efefef;
  padding-bottom: 1px;
  border-radius: 5px;
}
header nav ul li img{
    width: 70%;
}
#art01{
    background: #1e4872;
    width: 227px;
}
#art01 ul{
    list-style: none;
    color: white;
    text-align: left;
    margin-left: 0px;
    margin-top: -1px;
}
#art01 ul li{
    padding-bottom: 10px;
}

