body{
    /* 1em */
   font-size: 16px; 
   max-width: 1024px;
   margin: 0px auto;
}
header{
    background: #d1e3ee;
}
header nav {
    padding: 2px 0px;
    background: #026dc6;

}
header nav form{
    float: right;
    margin-top: -35px;
    margin-right: 20px;
    
}
header nav ul li{
    /*border: 1px solid black;*/
    color: white;
    display: inline-block;
    margin-right: 20px;

}

#logo{
    margin-top: -150px;
}

/*Margin: arriba derecha abajo izquieda
un valor
  Padding: Arriba/abajo  izquierda/derecha*/